<div class="container-fluid">
    <h3>Maintain Account</h3>
    <br>
    <form>
      <div class="row">
        <div class="form-group col-sm-4">
          <label for="businessName">Businesss Name</label>
          <input type="text" class="form-control" id="businessName" required>
        </div>
        <div class="form-group col-sm-2">
            <label for="bankAcct">Routing Code</label>
            <input type="text" class="form-control" id="bankAcct" required>
        </div>          
        <div class="form-group col-sm-3">
            <label for="bankAcct2">Bank Account</label>
            <input type="text" class="form-control" id="bankAcct2" required>
        </div>          
      </div>
      <div class="row">
      <div class="form-group col-md-4">
        <label for="physicalAddress">Address</label>
        <textarea rows="4" class="form-control" id="physicalAddress"></textarea>
      </div>
      <div class="form-group col-sm-2">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="phone" required>
      </div>      
      <div class="form-group col-sm-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" required>
      </div>
      </div>        
      <button type="submit" class="btn btn-success">Save</button>
    
    </form>
</div>